<div class="cotainer__nav-bar">
  <a href="" class="logo__container">
    <img src="assets/playstation-store-logo.svg" alt="Logo Playstation Store">
  </a>

  <nav class="nav-bar">
    <ul class="nav-bar__itens">
      <li class="nav-bar__itens__link"><a [routerLink]="['/']" [routerLinkActive]="['activated']">Novidades</a></li>
      <li class="nav-bar__itens__link"><a href="#">Coleções</a></li>
      <li class="nav-bar__itens__link"><a href="#">Ofertas</a></li>
      <li class="nav-bar__itens__link"><a href="#">PS5</a></li>
      <li class="nav-bar__itens__link"><a href="#">Assinaturas</a></li>
      <li class="nav-bar__itens__link"><a href="#">Navegar</a></li>
    </ul>
  </nav>
</div>
