.container__banner {
  position: relative;

  width: 100%;
  height: 450px;

  box-shadow: 0 0 30px rgba(150,150,150,.5);
}

.container__banner app-banner-label {
  position: absolute;
  top: 50px;
  left: 350px;
}

.container__banner app-banner-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}
